.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    /* background-color: black; */
    /* border-bottom: solid; */
    border-color: whitesmoke;
    border-bottom: 2px solid rgb(97, 93, 93);
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 2em;
}

.mid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 20px;
    width: 70%;
    /* border-left: 1px solid rgb(97, 93, 93); */
}

.cardmid {
    border-color: gray;
    border-radius: 20px;
    /* width: 100%; */
    padding: 25px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    flex-direction: column;
    background-color: rgb(28, 26, 26);
}

.cardmidLimited{
    border-color: gray;
    border-radius: 20px;
    /* width: 100%; */
    padding: 25px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    flex-direction: column;
    background-color: rgb(28, 26, 26);
    max-height: 300px;
    overflow: hidden;
}

.right {
    padding: 10px;
    width: 300px;
    background-color: rgb(28, 26, 26);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 5px;
    height: fit-content;
    margin-top: 20px;
    width: 20%;
}

.rightcard {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightcard:hover {
    background-color: gray;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mobile{
    display: none;
}


@media all and (max-width:1300px) {
    .right {
        display: none;
    }
}

@media all and (max-width:830px) {
    .head{
        padding: 0px 0px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
        width: '100%';
    }
}

